@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --cell: 15.75px;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.cell {
  height: var(--cell);
  width: var(--cell);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(185, 185, 185);
  border-radius: 0px;
}

.cell-start {
  height: var(--cell);
  width: var(--cell);
  background-color: rgb(128, 253, 128);
  border: 1px solid grey;
  border-radius: 0px;
}

.cell-end {
  height: var(--cell);
  width: var(--cell);
  background-color: rgb(255, 255, 255);
  border: 1px solid grey;
  border-radius: 0px;
}

.cell-current {
  height: var(--cell) - 1px;
  width: var(--cell) - 1px;
  background-color: rgb(231, 231, 231);
  border-radius: 0px;
  border: 1px solid rgb(68, 68, 255);
}

.grid-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(64, 1fr);
  width: fit-content;
  border: 2px solid rgb(185, 185, 185);
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
}

.grid-footer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-button {
  font-size: 12px;
  margin-right: 1em;
  margin-top: 1em;
  border: none;
  border-radius: 2px;
  min-width: 100px;
  height: 25px;
  cursor: pointer;
  background-color: rgba(0, 210, 18, 0.50);
  transition: all 0.1s ease 0s;
}

.footer-button:hover {
  background-color: rgba(0, 210, 18, 0.70);
}

.footer-button:active {
  scale: 0.95;
}

.side-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  width: 500px;
  height: fit-content;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
}

.side-header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.side-footer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.git-profile {
  padding: 10px;
  scale: 1.65;
  text-decoration: none;
  color: rgb(136, 136, 136);
  transition: all 0.1s ease 0s;
}

.git-repo {
  padding: 10px;
  scale: 1.65;
  text-decoration: none;
  color: rgb(136, 136, 136);
  transition: all 0.1s ease 0s;
}

.contact {
  padding: 10px;
  scale: 1.65;
  text-decoration: none;
  color: rgb(136, 136, 136);
  transition: all 0.1s ease 0s;
}

.contact:hover {
  scale: 1.75;
  color: rgb(136, 128, 253)
}

.git-repo:hover {
  scale: 1.75;
  color: rgb(136, 128, 253)
}

.git-profile:hover {
  scale: 1.75;
  color: rgb(136, 128, 253)
}

span {
  display: block;
  overflow-wrap: break-word;
  padding: 10px;
  font-size: 16px;
}

.emoji {
  scale: 1.3;
}
